<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>cadastroproducto</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/cadastroproducto-grid.css">
  <link rel="stylesheet" href="css/cadastroproducto.css">
</head>
<body class="body page-cadastroproducto clearfix">
  <div class="background">
    <form class="cadastroproducto">
      <div class="cadastroproduto">
        <input class="_input _input-1" placeholder="Escolha a imagem" type="text">
        <button id="cadastrar" class="_button" type="submit">Cadastrar</button>
        <input id="marca" class="_input _input-2" name="Nome" placeholder="Marca" type="text">
        <select id="categoria" class="_select" name="Categoria">
          <option value="Escolha categoria">Escolha categoria</option>
        </select>
        <input id="price" class="_input _input-3" name="Nome" placeholder="Preço" type="text">
        <input id="nome" class="_input _input-4" name="Nome" placeholder="Nome" type="text">
        <p class="text">Cadastro de Produto</p>
      </div>
    </form>
  </div>
</body>
</html>