{% extends "header---footer.html" %}

{% block title %}Carrinho{% endblock %}

{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/carrinho-grid.css' %}">
<link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
<script language="javascript">
  function confirmacao() {
	var r = confirm("Deseja realmente remover o item?");
	if (r == true){
	  document.getElementById("form_items").action = "{% url 'Remover' %}";
	  document.getElementById("form_items").submit();
	}else{
	  //Não vai pra nenhum link
    }
  }
  function limpar() {
	var r = confirm("Deseja realmente remover todos os itens?");
	if (r == true){
	  document.getElementById("limpa").action = "{% url 'Limpar' %}";
	  document.getElementById("limpa").submit();
	}else{
	  //Não vai pra nenhum link
	}
  }
</script>

  <script src="{% static 'js/js.cookie.js' %}"></script>
  <script src="{% static 'js/jquery-min.js' %}"></script>
  <script src="{% static 'js/carrinho.js' %}"></script>
{% endblock %}

{% block content %}
<div id="divBackground" class="background"></div>
  <div id="divCarrinho" class="carrinho clearfix">
    <p class="titulocarrinho">Meu carrinho</p>
    <div class="produtocarrinho" style="background-color: rgba(255, 255, 255, 0.5); border: 1px dashed rgba(0, 0, 0, 0.54)">
      <div class="fotoprodutocarrinho" style="background-color: rgb(180, 180, 180);"></div>
      <div class="infocarrinho">
        <p class="comoUsar">
          Encoste o celular nas etiquetas dos produtos para adicioná-los!
        </p>
      </div>
      <button class="_button _button-3" style="background-color: rgb(160, 160, 160);" type="button">Remover</button>
    </div>

    {% for produto in carrinho.produtos reversed %}
      <div class="produtocarrinho">
        <div class="infocarrinho">
          <div class="alteraQuantidade">
            <button onClick="alteraQuantidade('-', '{{ produto.idProduto }}')" class="_button _button-1" id="-">-</button>
            <button onClick="alteraQuantidade('+', '{{ produto.idProduto }}')" class="_button _button-2" id="+">+</button>
            <p class="quantidade" id="quantidade-{{produto.idProduto}}">{{ produto.quantidade }}</p>
          </div>
          <p class="precoproduto">R$ {{ produto.preco }}</p>
          <p class="nomeproduto">{{ produto.nome }}</p>
        </div>

        <form id="form_items" name="form_items" method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="idProduto" value="{{ produto.idProduto }}">
          <button class="_button _button-3" onClick= "confirmacao()" name="remover" type="button">Remover</button>
        </form>
        <div class="fotoprodutocarrinho" style="background-image: url('{{ produto.imagem }}');">
        </div>
      </div>
    {% endfor %}




    <div class="campototalcarrinho">
      <p id="valortotal" class="valortotalcarrinho">R$ 0,00</p>
      <p class="totalcarrinho">Total</p>
    </div>

    <div class="containerbotoescarrinho">
      <form method="post" action="{% url 'Finalizar' %}">
        {% csrf_token %}
        <button class="_button _button-4" type="submit">Finalizar Compra</button>
      </form>
      <form id="limpa" name="limpa" method="post" action="">
        {% csrf_token %}
        <button class="_button _button-5" onClick="limpar()" name="botaoLimpar" type="button">Limpar Carrinho</button>
      </form>
    </div>
  </div>


<script>
  window.onload = acertaTamanho;
  window.addEventListener('resize', acertaTamanho);
  // Definindo variáveis iniciais
  var numProdutos = {{numProdutos}};
  var produtos = pegaProdutosCarrinho();
  var tem;

  if(numProdutos == 0){
    produtos = {}
  }

  {% for produto in carrinho.produtos %}
    // Adicionando produtos que não temos ao carrinho
    if (!('{{ produto.idProduto }}' in produtos)) {
      produtos['{{ produto.idProduto }}'] = {'quantidade': Number('{{ produto.quantidade }}'), 'preco': parseFloat('{{ produto.preco }}'.replace(",", "."))};
    }
  {% endfor %}

  if (Object.keys(produtos).length > numProdutos) {
    for (var idProduto in produtos) {
      tem = 0;
      {% for produto in carrinho.produtos %}
        if (idProduto == '{{ produto.idProduto }}'){
          tem += 1;
        }
      {% endfor %}
      if (tem == 0){
        delete produtos[idProduto]
      }
    }
  }

  setaValorTotal();
  setaQuantidade();

  function pegaProdutosCarrinho() {
    let _produtos = Cookies.getJSON('produtos')

    if (!_produtos) {
      return {};
    }
    return _produtos;
  }
</script>

{% endblock %}
