{% extends "header---footer.html" %}

{% block title %}Carrinho{% endblock %}

{% load staticfiles %}

{% block head %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
  <link rel="stylesheet" href="{% static 'css/carrinho-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
{% endblock %}

{% block content %}
  <div class="background">
    <div class="cadastro clearfix">
      <p class="text text-1">Seu carrinho</p>

      <div class="container container-1">
        <p class="text _text text-2">R$ 37,90</p>
        <p class="text _text text-3">Total</p>
      </div>

      <div class="element element-1">
        <div class="container container-2">
          <div class="container container-3">
            <button class="_button _button-1">-</button>
            <button class="_button _button-2">+</button>
            <p class="text _text text-4">2</p>
          </div>
          <p class="text _text text-5">R$ 19,90</p>
          <p class="text _text text-6">Paçoquita SANTA HELENA 180g</p>
        </div>
        <button class="_button _button-3">Remover</button>
        <div class="container _element container-4"></div>
      </div>

      <div class="element element-2">
        <div class="container container-5">
          <div class="container container-6">
            <button class="_button _button-4">-</button>
            <button class="_button _button-5">+</button>
            <p class="text _text text-7">2</p>
          </div>
          <p class="text _text text-8">R$ 9,00</p>
          <p class="text text-9">Ketchup HEINZ 512g</p>
        </div>
        <button class="_button _button-6">Remover</button>
        <div class="container _element container-7"></div>
      </div>

      <div class="container container-8">
        <button onClick="window.location='{{ request.session.urlToda }}';" class="_button _button-7" type="button">Finalizar</button>
        <form method="post" action="{% url 'Limpar' %}">
          {% csrf_token %}
          <button class="_button _button-8" type="submit">Limpar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}