<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>feedback</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/feedback-grid.css">
  <link rel="stylesheet" href="css/feedback.css">
</head>
<body class="body page-feedback clearfix">
  <div class="background">
    <form class="feedback">
      <div class="container _container container-1">
        <div class="container _container container-2">
          <label class="radio-label radio-label-1">
            <input class="radio" name="func-eval" type="radio">
            <span class="point-text">Muito bom</span>
          </label>
          <label class="radio-label radio-label-2">
            <input class="radio" name="func-eval" type="radio">
            <span class="point-text">Bom</span>
          </label>
          <label class="radio-label _container radio-label-3">
            <input class="radio js-feedback" name="func-eval" type="radio">
            <span class="point-text">Regular</span>
          </label>
          <label class="radio-label _container radio-label-4">
            <input class="radio js-feedback" name="func-eval" type="radio">
            <span class="point-text point-text-4">Ruin</span>
          </label>
          <label class="radio-label _container radio-label-5">
            <input class="radio js-feedback" name="func-eval" type="radio">
            <span class="point-text point-text-5">Insatisfatório</span>
          </label>
        </div>
        <p class="text text-1">Como você avaliaria o atendimento?</p>
      </div>
      <div class="container _container container-3">
        <div class="container _container container-4">
          <label class="radio-label radio-label-6">
            <input class="radio" name="prod-eval" type="radio">
            <span class="point-text">Muito bom</span>
          </label>
          <label class="radio-label radio-label-7">
            <input class="radio" name="prod-eval" type="radio">
            <span class="point-text">Bom</span>
          </label>
          <label class="radio-label _container radio-label-8">
            <input class="radio js-feedback" name="prod-eval" type="radio">
            <span class="point-text">Regular</span>
          </label>
          <label class="radio-label _container radio-label-9">
            <input class="radio js-feedback" name="prod-eval" type="radio">
            <span class="point-text point-text-9">Ruin</span>
          </label>
          <label class="radio-label _container radio-label-10">
            <input class="radio js-feedback" name="prod-eval" type="radio">
            <span class="point-text point-text-10">Insatisfatório</span>
          </label>
        </div>
        <p class="text text-2">Como você avaliaria os produtos encontrados?</p>
      </div>
      <div class="container _container container-5">
        <div class="container _container container-6">
          <label class="radio-label radio-label-11">
            <input class="radio" name="exp-sist" type="radio">
            <span class="point-text">Muito bom</span>
          </label>
          <label class="radio-label radio-label-12">
            <input class="radio" name="exp-sist" type="radio">
            <span class="point-text">Bom</span>
          </label>
          <label class="radio-label _container radio-label-13">
            <input class="radio js-feedback" name="exp-sist" type="radio">
            <span class="point-text">Regular</span>
          </label>
          <label class="radio-label _container radio-label-14">
            <input class="radio js-feedback" name="exp-sist" type="radio">
            <span class="point-text point-text-14">Ruin</span>
          </label>
          <label class="radio-label _container radio-label-15">
            <input class="radio js-feedback" name="exp-sist" type="radio">
            <span class="point-text point-text-15">Insatisfatório</span>
          </label>
        </div>
        <p class="text text-3">Como foi sua experiência com o sistema?</p>
      </div>
      <div class="container _container container-7">
        <p class="text text-4">Como foi sua experiência no mercado?</p>
        <div class="radio container _container container-8">
          <label class="radio-label radio-label-16">
            <input class="radio" name="exp-merc" type="radio">
            <span class="point-text">Muito bom</span>
          </label>
          <label class="radio-label radio-label-17">
            <input class="radio" name="exp-merc" type="radio">
            <span class="point-text">Bom</span>
          </label>
          <label class="radio-label _container radio-label-18">
            <input class="radio js-feedback" name="exp-merc" type="radio">
            <span class="point-text">Regular</span>
          </label>
          <label class="radio-label _container radio-label-19">
            <input class="radio js-feedback" name="exp-merc" type="radio">
            <span class="point-text point-text-19">Ruin</span>
          </label>
          <label class="radio-label _container radio-label-20">
            <input class="radio js-feedback" name="exp-merc" type="radio">
            <span class="point-text point-text-20">Insatisfatório</span>
          </label>
        </div>
      </div>
      <p class="text text-5">Conte-nos sua experiência</p>
      <p class="text text-6">Sua opinião é muito importante para nós.</p>
      <input id="mensagemFeedback" class="_input" name="Nome" placeholder="Mensagem" type="text">
      <button id="enviar" class="_button" type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>