<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Scan&amp;Skip - {% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/standardize.css">
    <link rel="stylesheet" href="css/header---footer-grid.css">
    <link rel="stylesheet" href="css/header---footer.css">
</head>
<body class="body page-header---footer clearfix">
    <div class="backgroundnot">
        <div class="container container-1 clearfix">
            <div class="background"></div>
            <div class="wrapper"><iframe src="home.html" style="border:none; height:100%; width:100%;" id="iframe1" ></iframe></div>
            <footer class="footer"></footer>
        </div>
        <div class="container container-2 clearfix">
            <p class="text">Scan&amp;Skip</p>
            <div class="container clearfix">
                <button onClick="mudaFrame('home.html')" class="_button _button-1" type="button">Home</button>
                <button onClick="mudaFrame('sobre.html')" class="_button _button-2" type="button">Sobre</button>
                {% if request.session.logado %}
                    <button class="_button _button-3" type="button">Bem Vindo(a) {{ request.session.nome }}!</button>
                {% else %}
                    <button onClick="mudaFrame('login.html')" class="_button _button-3" type="button">Login</button>
                    <button onClick="mudaFrame('cadastro.html');" class="_button _button-4" type="button">Cadastre-se</button>
                {% endif %}
            </div>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>