<!doctype html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Scan&amp;Skip - {% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/header---footer-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/header---footer.css' %}">
    {% block head %}{% endblock %}
</head>
<body class="body page-header---footer clearfix">
    <div class="corpo clearfix" style="height: {{ altura2 }}px;">
        <footer class="footer"></footer>
        {% block content %}{% endblock %}
    </div>
    <div class="barra clearfix">
        <p class="text">Scan&amp;Skip</p>
        <div class="botoesbarra clearfix">
            <button onClick="mudaFrame('home.html')" class="botaoBarra botaoHome" type="button">Home</button>
            <button onClick="mudaFrame('sobre.html')" class="botaoBarra botaoSobre" type="button">Sobre</button>
            {% if request.session.logado %}
                <button class="botaoBarra botaoBemVindo" type="button">Bem Vindo(a) {{ request.session.nome }}!</button>
            {% else %}
                <button onClick="mudaFrame('login.html')" class="botaoBarra botaoLogin" type="button">Login</button>
                <button onClick="mudaFrame('cadastro.html');" class="botaoBarra botaoCadastro" type="button">Cadastre-se</button>
            {% endif %}
        </div>
    </div>
</body>
</html>