<!doctype html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Scan&amp;Skip - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/header---footer-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/header---footer.css' %}">
    {% block head %}{% endblock %}
</head>
<body class="body page-header---footer clearfix">
    <div id="corpo" class="corpo">
        {% block content %}{% endblock %}
    </div>
    <div class="barra clearfix">
        <p class="textheader">Scan&amp;Skip</p>
        <div class="botoesbarra clearfix">
            <button onClick="window.location='https://scan-skip-teste.herokuapp.com/';" class="botaoBarra">Home</button>
            <button onClick="window.location='https://scan-skip-teste.herokuapp.com/sobre';" class="botaoBarra" type="button">Sobre</button>
            {% if request.session.logado %}
                <button onClick="window.location='https://scan-skip-teste.herokuapp.com/mapa';" class="botaoBarra">Mapa</button>
                <button onClick="window.location='https://scan-skip-teste.herokuapp.com/perfil';" class="botaoBarra">Perfil</button>
                <button onClick="window.location='{% url 'Logout' %}';" class="botaoBarra">Logout</button>
            {% else %}
                <button onClick="window.location='https://scan-skip-teste.herokuapp.com/login';" class="botaoBarra">Login</button>
                <button onClick="window.location='https://scan-skip-teste.herokuapp.com/cadastro';" class="botaoBarra">Cadastre-se</button>
            {% endif %}
        </div>
    </div>
{% block modal %}{% endblock %}

</body>
</html>
