{% extends "header---footer.html" %}

{% block title %}Mapa{% endblock %}

{% load static %}

  {% block head %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:800,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/mapa-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/mapa.css' %}">
  <script src="{% static 'js/jquery.matchHeight.js' %}"></script>
  <script src="{% static 'js/mustache.min.js' %}"></script>

  <script src="{% static 'js/mapa.js' %}"></script>
  {% endblock %}

{% block content %}
  <div class="background"></div>
  <div class="principalMapa">
    <div class="containerMapa container-1">
      <p class="text text-1">Mapa da loja</p>
      <div class="containerMapa _containerMapa">
        <p class="text _text">TERMINAIS DE PAGAMENTO</p>

          <!-- Criando todos os setores do mapa -->
          {% for i in sectorsRange %}
            <div class="element" id="element-{{ i }}"></div>
          {% endfor %}

      </div>
    </div>
  </div>

  <script>
    var markedSectors = {{ markedSectors }}
  </script>
{% endblock %}

{% block modal %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Setor</h4>
      </div>
      <div class="modal-body text-center">
        <img id="loading" src="{% static 'img/ajax-loader.gif' %}" style="width: 30px;" />

        <div id="products-container" class="col-md-12 col-xs-12 modal-parent">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="btClose" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script id="template" type="x-tmpl-mustache">
<div class="row modal-row">
  <div class="col-md-5 col-xs-5 modal-child modal-child-img">
    <img src="[[ image ]]" alt="Foto do produto"
    style="width: 100%; max-width: 200px;">
  </div>
  <div class="col-md-7 col-xs-7 modal-child">
    <ul class="list-group list-description">
      <li class="list-group-item">[[ name ]]</li>
      <li class="list-group-item">[[ brand ]]</li>
      <li class="list-group-item">R$ [[ price ]]</li>
      <li class="list-group-item">[[ category ]]</li>
    </ul>
  </div>
</div>
</script>

{% endblock %}
