<div class="row modal-row">
  <div class="col-md-5 col-xs-5 modal-child modal-child-img">
    <img src="https://www.nestle.com.br/site/images/marcas_produtos/prod_150x180/ninho_forti_400g_integral.png" alt="Foto do produto"
    style="width: 100%; max-width: 200px;">
  </div>
  <div class="col-md-7 col-xs-7 modal-child">
    <ul class="list-group list-description">
      <li class="list-group-item">Leite Ninho</li>
      <li class="list-group-item">Nestle</li>
      <li class="list-group-item">R$ 10,00</li>
      <li class="list-group-item">Leite em Pó</li>
    </ul>
  </div>
</div>
