<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>perfil</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/perfil-grid.css">
  <link rel="stylesheet" href="css/perfil.css">
</head>
<body class="body page-perfil clearfix">
  <div class="background">
    <div class="perfil">
      <div class="container container-1">
        <img class="image" src="images/zeus-170x170.jpg" data-rimage data-src="images/zeus-170x170.jpg">
      </div>
      <p class="text text-1">Seu Perfil</p>
      <div class="params">
        <p class="text text-2">Nome Completo</p>
        <p class="text text-3">Sexo</p>
        <p class="text text-4">Nascimento</p>
        <p class="text text-5">Endereço</p>
        <p class="text text-6">Tel</p>
        <p class="text text-7">Email</p>
        <p class="text text-8">Senha encriptada</p>
      </div>
      <div class="container container-2">
        <button class="_button _button-1">Alterar</button>
        <button class="_button _button-2">Feedback</button>
      </div>
    </div>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>