<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>produto-mapa-vizualizar</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600,300,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/produto-mapa-vizualizar-grid.css">
  <link rel="stylesheet" href="css/produto-mapa-vizualizar.css">
</head>
<body class="body page-produto-mapa-vizualizar clearfix">
  <div class="background">
    <form class="cadastro">
      <div class="element"></div>
      <p id="4" class="textocategoriaproduto js--categoria-produto">Categoria do Produto</p>
      <p id="3" class="textoprecoproduto js--preco-produto">Preço do Produto</p>
      <p id="2" class="textmarcaproduto js--marca-produto">Marca do Produto</p>
      <p id="1" class="textnomeproduto js--nome-produto">Nome do Produto</p>
      <p class="text">Vizualização de Produto</p>
      <button id="5" class="confirmar js-confirmar" type="submit">Retornar</button>
    </form>
  </div>
</body>
</html>