{% extends "header---footer.html" %}

{% block title %}Produto{% endblock %}

{% load static %}

{% block head %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600,300,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/produto-escaneado-confirmacao-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/produto-escaneado-confirmacao.css' %}">
{% endblock %}

{% block content %}
  <div class="background">
    <form class="produtoescaneado" method="post" action="{% url 'Adicionar' %}">
      {% csrf_token %}
      <p class="text">Visualização de Produto</p>
      <input type="hidden" name="idProduto" value="{{ idProduto }}">
      <input type="hidden" name="nome" value="{{ nome }}">
      <input type="hidden" name="marca" value="{{ marca }}">
      <input type="hidden" name="categoria" value="{{ categoria }}">
      <input type="hidden" name="preco" value="{{ preco }}">
      <input type="hidden" name="imagem" value="{{ imagem }}">
      <p id="1" class="textnomeproduto js--nome-produto">Nome do Produto: {{ nome }}</p>
      <div class="element" style="background: url('{{imagem}}') rgb(222, 222, 222); background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>
      <p id="2" class="textmarcaproduto js--marca-produto">Marca do Produto: {{ marca }}</p>
      <p id="3" class="textoprecoproduto js--preco-produto">Preço do Produto: {{ preco }}</p>
      <p id="4" class="textocategoriaproduto js--categoria-produto">Categoria do Produto: {{ categoria }}</p>
      <button name="botaoRetornar" class="confirmar confirmar-1 js-confirmar" type="submit">Retornar</button>
      <button name="botaoAdicionar" class="confirmar confirmar-2 js-confirmar" type="submit">Adicionar</button>
    </form>
  </div>
{% endblock %}