{% extends "header---footer.html" %}

{% block title %}Produto{% endblock %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
  <link rel="stylesheet" href="{% static 'css/escolha-pagamento-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/escolha-pagamento.css' %}">
  <script language="javascript">
    function confirmacaoFila() {
    var r = confirm("Tem certeza que deseja entrar na fila?");
    if (r == true){
      var checkPref = document.getElementById('preferencial');
      if (checkPref.checked) {
        document.getElementById("formFila").action = "{% url 'FilaPref' %}";
        document.getElementById("formFila").submit();
      }
      else {
        document.getElementById("formFila").action = "{% url 'Fila' %}";
        document.getElementById("formFila").submit();
      } 
    }else{
      //Não vai pra nenhum link
      }
    }
  </script>
{% endblock %}

{% block content %}
  <div class="background"></div>
    <div class="botoesescolha">

      <form class="containerEscolha container-1" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <fieldset>
                <input type="hidden" name="cmd" value="_xclick" />
                <input type="hidden" name="business" value="tiagoguy@hotmail.com" />
                <input type="hidden" name="lc" value="BR" />
                <input type="hidden" name="item_name" value="Payment" />
                <input type="hidden" name="item_number" value="P1" />
                <input type="hidden" name="currency_code" value="BRL" />
                <input type="hidden" name="button_subtype" value="services" />
                <input type="hidden" name="no_note" value="0" />
                <input type="hidden" name="cn" value="Comments" />
                <input type="hidden" name="no_shipping" value="1" />
                <input type="hidden" name="rm" value="1" />
                <input type="hidden" name="return" value="http://www.ekerner.com/payments/?payment=success" />
                <input type="hidden" name="cancel_return" value="http://www.ekerner.com/payments/?payment=cancelled" />
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest" />
        <input class="botaopaypal" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/blue-rect-paypal-60px.png" name="submit" alt="PayPal . The safer, easier way to pay online." />
        <input id="valorTotal" value="{{ totalFloat }}" type="hidden" name="amount"/>
        </fieldset>
      </form>

      <form class="containerEscolha container-2" id="formFila" name="formFila" method="post" action="">
        {% csrf_token %}
        <label class="checkbox-label clearfix">
          <input class="checkbox" id="preferencial" type="checkbox">
          <span class="point-text">Fila Preferencial</span>
        </label>
        <button class="botaofila" onClick= "confirmacaoFila()" type="button">Pagar na fila</button>
      </form>
      <p class="text">Escolha a forma de pagamento</p>
      
    </div>
  
{% endblock %}