{% extends "header---footer.html" %}

{% block title %}Forma de Pagamento{% endblock %}

{% load static %}

{% block head %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/requisita-fila-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/requisita-fila.css' %}">
<script language="javascript">
  function confirmacaoFila() {
	var r = confirm("Tem certeza que deseja entrar na fila?");
	if (r == true){
	  document.getElementById("formFila").action = "{% url 'Fila' %}";
	  document.getElementById("formFila").submit();
	}else{
	  //Não vai pra nenhum link
    }
  }
</script>
{% endblock %}

{% block content %}
  <div class="element"></div>
  <div class="container clearfix">
    <form id="formFila" name="formFila" method="post" action="">
        {% csrf_token %}
        <button class="_button _button-1" onClick= "confirmacaoFila()" name="entrarFila" type="button">Pagar na fila</button>
    </form>
    <!--<button class="_button _button-2">Pagar no aplicativo</button> -->
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <fieldset>
            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="business" value="tiagoguy@hotmail.com" />
            <input type="hidden" name="lc" value="BR" />
            <input type="hidden" name="item_name" value="Payment" />
            <input type="hidden" name="item_number" value="P1" />
            <input type="hidden" name="currency_code" value="BRL" />
            <input type="hidden" name="button_subtype" value="services" />
            <input type="hidden" name="no_note" value="0" />
            <input type="hidden" name="cn" value="Comments" />
            <input type="hidden" name="no_shipping" value="1" />
            <input type="hidden" name="rm" value="1" />
            <input type="hidden" name="return" value="http://www.ekerner.com/payments/?payment=success" />
            <input type="hidden" name="cancel_return" value="http://www.ekerner.com/payments/?payment=cancelled" />
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest" />
            <table>
                <tr><td>&nbsp;</td><td style="padding:0 5px 5px 0;">
                    <input style="position:relative; left:-10px; background:#ffffff; border:0;" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/blue-rect-paypal-60px.png" name="submit" alt="PayPal . The safer, easier way to pay online." />
                    <img alt="" style="border:0;" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
                </td></tr>
                <tr><td style="padding:0 5px 5px 0;">TOTAL: {{total}}</td><td style="padding:0 5px 5px 0;"><input id="valorTotal" value="{{ totalFloat }}" type="hidden" name="amount" maxlength="200" style="color:#999999;" /></td></tr>
            </table>
        </fieldset>
    </form>
  </div>
{% endblock %}