<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>tela-confirmao-entrada-produto-carrinho</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/tela-confirmao-entrada-produto-carrinho-grid.css">
  <link rel="stylesheet" href="css/tela-confirmao-entrada-produto-carrinho.css">
</head>
<body class="body page-tela-confirmao-entrada-produto-carrinho clearfix">
  <div class="background">
    <button class="_button">Continuar para o carrinho</button>
    <div class="text">
      <p>Pronto!&nbsp;</p>
      <p>O produto foi adicionado ao seu carrinho!</p>
</div>
  </div>
</body>
</html>