<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>timeout</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/timeout-grid.css">
  <link rel="stylesheet" href="css/timeout.css">
</head>
<body class="body page-timeout clearfix">
  <div class="element">
    <button class="_button">Voltar</button>
    <p class="text">Seu tempo expirou! Você será realocado na fila.</p>
  </div>
</body>
</html>